html{
    font-size:10px;
}

body{
    --spatiere--pagina:0;
    margin: 0;
}

main{

    --spatiere--pagina:15px;
}

.container-iframe{
    display: block;
    /* margin:auto; */
    width: 560px;
    height: 215px;
}

 .taburi-iframe a{
    display: block;
} 