    <nav>
        <ul class="meniu-navigare-principal">
            <li>
                <a href="#acasa">Acasa</a>
                <ul>
                    <li><a href="#DespreNoi">Despre Noi</a></li>
                    <li><a href="#Noutati">Noutati</a></li>
                    <li><a href="#CategoriiDeProduse">Categorii de produse</a></li>
                    <li><a href="#Evenimente">Evenimente</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </li>
            <li><a href="#Produse">Produse</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="#Certificari">Certificări</a></li> 
            <li><a href="#ContactUs">Contactează-ne</a></li>                  
        </ul>
    </nav>
    <header class="titlu-pagina">
    <!-- aaaaaa -->
        <h1 id="heading-pagina">Magazin Produse Apicole</h1>
    </header>