<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../fragmente/head.ejs") %>
    <meta name="keywords" content="informatii, miere, stupi, albine, sanatate, naturale, stupina, sistemul imunitar.">
    <meta name="description" content="Magazinul de produse apicole pune la dispozitie miere si produse pentru cresterea albinelor cu optiunea de achizitie online si livrare prin curier.">
    <title>Magazin Produse Apicole</title>
</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid-pagina">
            <section id="DespreNoi">
                <!--Cerinta 11-->
                <div class="DespreNoiPoza">
                    <figure>
                        <picture>
                            <source media="(max-width: 3000px)" srcset="/resurse/imagini/apicultor-cu-stupi.jpg">
                            <source media="(max-width: 3000px)" srcset="/resurse/imagini/apicultor-cu-stupi.jpg">
                            <img src="/resurse/imagini/apicultor-cu-stupi.jpg" 
                                alt="Apicultorul și stupii" 
                                title="Etapele producerii mierii" 
                                class="banner-img">
                        </picture>
                        <figcaption class="banner-caption">Viața unui apicultor</figcaption>
                    </figure>
                </div>
                <!--Cerinta 13 e-->
                <p>
                            Descarcare imagine:
                            <a href="/resurse/imagini/apicultori-cu-stupi.jpg" download="Etapele_producerii_mierii.jpg">
                                Etapele producerii mierii
                            </a>
                </p>
                <!--Cerinta 7-->
                <hgroup>
                    <h2 class="titlu">Despre noi</h2>
                    <p><strong class="descriere">Produse naturale, adjuvante şi eficiente pentru diferite probleme de sănătate</strong></p>
                </hgroup>
                <!--Cerinta 12-->
                <p>Cauţi <b>produse apicole</b> obţinute din ingrediente <b>naturale</b>, neprocesate, exact în forma în care ni le oferă natura înconjurătoare? 
                    Te aşteptăm de fiecare dată în magazinul nostru cu numeroase produse apicole naturale, care sunt remedii adjuvante excelente pentru diferite probleme de sănătate. 
                    De exemplu, apicolele sunt potrivite atunci când vrei să îţi întăreşti <b>sistemul imunitar</b>, pentru a face faţă cu brio sezonului rece. 
                    La fel de eficiente sunt şi pentru redarea stării de bine şi de energie, îmbunătăţirea capacităţii de concentrare şi combaterea stresului, datorită conţinutului ridicat de antioxidanţi, vitamine, minerale şi enzime. 
                    Fiecare produs apicol este 100% natural, pentru că urmărim sa oferim o sursă sigură de sănătate.
                </p>
                <!--Cerinta 13 b-->
                <p> 
                    Vedeti etapele producerii mierii:
                    <a href="https://www.springfarma.com/blog/mierea-tipuri-de-miere-beneficii-pentru-imunitate-contraindicatii.html#miere">
                        https://www.springfarma.com/blog/mierea-tipuri-de-miere-beneficii-pentru-imunitate-contraindicatii.html <wbr>#miere
                    </a>
                </p>
            </section>
            <!--Cerinta 6-->
            <article id="Noutati">
                <h2>Noutăți</h2>
                <!--Bonus 5-->
                <div class="container-iframe">
                    <iframe width="600" height="315" 
                    src="https://www.youtube.com/embed/videoseries?si=EEL9aDa36PnSn-dC&amp;list=PLBDJTbvpc1FkaeJTrLiKKjUZFPon1b6lr&loop=1" 
                    title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen></iframe>
                </div>                    
            </article>
            <section id="CategoriiDeProduse">
                <h2>Categorii de produse</h2>
                <img src="/resurse/imagini/5-tipuri-miere.jpg" alt="Tipuri miere" usemap="#honeyTypes"
                    width="700"
                    height="700">
                <!--Bonus 3-->
                <map name="honeyTypes">
                    <area shape="rect" coords="270,70,520,360" href="https://www.medlife.ro/articole-medicale/miere-rapita-beneficii-proprietati-utilizari" alt="Miere de rapiță">
                    <area shape="rect" coords="620,70,870,360" href="https://www.medlife.ro/articole-medicale/miere-salcam-beneficii-proprietati-utilizari" alt="Miere de salcâm">
                    <area shape="rect" coords="150,350,400,700" href="https://www.medlife.ro/articole-medicale/miere-poliflora-beneficii-proprietati-utilizari" alt="Miere polifloră">
                    <area shape="rect" coords="450,350,700,700" href="https://www.onomeus.ro/blog/curiozitati-despre-miere/stiati-ca-singura-miere-pe-care-o-pot-consuma-si-cei-alergici-la" alt="Miere de mană">
                    <area shape="rect" coords="750,350,1000,700" href="https://edesia.ro/mierea-de-floarea-soarelui-3-beneficii-pe-care-nu-le-stiai/?srsltid=AfmBOorRRfmnV5VKHLCOX8ZQ7E8I3OQHjuTVFoZIlVWLphhKa9DvL33T" alt="Miere de floarea soarelui">
                </map>

                <article id="miere-poliflora">
                    <h3>Miere poliflora</h3>
                    <img src="/resurse/imagini/miere-poliflora.jpg" alt="Miere polifloră"
                    width="300"
                    height="300">                
                    <p>28,00&nbsp;lei</p>           
                    <!--Bonus 2-->
                    <embed
                        src="/resurse/miere_poliflora.pdf#view=FitBV"
                        type="application/pdf"
                        width="800"
                        height="700"
                        title="Embedded PDF Viewer"
                    >
                </article>
                
                <article id="miere-rapita">
                    <h3>Miere de rapiță</h3>
                    <img src="/resurse/imagini/miere-rapita.jpg" alt="Miere de rapiță"
                    width="300"
                    height="300">                
                    <p>48,00&nbsp;lei</p>                
                </article>

                <article id="miere-salcam">
                    <h3>Miere de salcâm</h3>
                    <img src="/resurse/imagini/miere-salcam.jpg" alt="Miere de salcâm"
                    width="300"
                    height="300">                
                    <p>49,00&nbsp;lei</p>                
                </article>

                <article id="miere-de-floarea-soarelui">
                    <h3>Miere de floarea soarelui</h3>
                    <img src="/resurse/imagini/miere-de-floarea-soarelui.jpg" alt="Miere de floarea soarelui"
                    width="300"
                    height="300">                
                    <p>51,00&nbsp;lei</p>                
                </article>
                
                <article id="miere-mana">
                    <h3>Miere de mană</h3>
                    <img src="/resurse/imagini/miere-mana.jpg" alt="Miere de Mană"
                    width="300"
                    height="300">                
                    <p>80,00&nbsp;lei</p>                
                </article>
            </section>
        <section id="Evenimente">
            <!--Cerinta 10-->
            <h2><i class="fas fa-thumbs-up fa-1x"></i>Evenimente</h2>
            <ul>
                <li>
                    <time datetime="2025-11-30T08:30">30 Noiembrie 2025, ora 08:30</time> -
                    <time datetime="2025-11-30T13:30">ora 13:30</time> - 
                    <b>Atelier: Primii pași în apicultură</b>
                    <br>                    
                    <!--Cerinta 13 d-->
                    <a href="/resurse/imagini/apicultori-anonimi-care-lucreaz.jpg"><img src="/resurse/imagini/apicultori-anonimi-care-lucreaz.jpg" 
                        alt="Imagine de la atelier"
                        title="Mărește imaginea">
                    </a>
                    <br> 
                    <!--Cerinta 14-->                   
                    <div class="container-iframe">
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/Qbl8fIzIIqE?si=8yRbcBvEuPQmOZgz" target="ifr-video">Cum facem un roi</a>
                            <a href="https://www.youtube.com/embed/lhDleMKMhaA?si=uXsZDDhHKRdwCO5q" target="ifr-video" >Cum folosim corect ramele</a>
                            <a href="https://www.youtube.com/embed/hbfiJHW-LP4?si=OVya88JTN2rOgbRl" target="ifr-video" >Cum se colecteaza mierea</a><br>
                        </div>
                        <iframe width="600" height="315" name="ifr-video"
                        src="https://www.youtube.com/embed/hbfiJHW-LP4?si=OVya88JTN2rOgbRl" 
                        title="YouTube video player" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" 
                        allowfullscreen></iframe>
                    </div>
                    <br>
                    <br>
                    <!--Cerinta 17-->
                    <label for="persoaneInscrise">Persoane înscrise: </label>
                    <meter id="persoaneInscrise" value="30" min="0" max="50">30 din 50</meter>
                    <br>
                    <label for="locuriDisponibile">Locuri disponibile:</label>
                    <meter id="locuriDisponibile" value="20" min="0" max="50">20 din 50</meter>
                    <br>
                    <!--Bonus 1-->
                    <p>Cu cât mai mulți <span style="font-style: bold">&rarr;</span> cu atât mai bine!</p>
                    <br>
                </li>
                <li>
                    <time datetime="2025-12-05T08:30">05 Decembrie 2025, ora 08:30</time> -
                    <time datetime="2025-12-05T15:30">ora 15:30</time> - 
                    <b>Târg de apicultură</b>                    
                </li>
            </ul>            
        </section>
    </div>
        <!--Cerinta 16-->
        <section id="faq">
                <h2>Intrebari frecvente</h2>
                <details>
                    <summary>Ce tipuri de miere sunt potrivite pentru copii?</summary>
                    <p>
                    <!--Cerinta 12-->
                    Pentru copii recomandăm <strong><i>mierea poliflora</i></strong> și <strong><i>propolis</i></strong>, care ajută la întărirea sistemului imunitar.
                    </p>
                </details>

                <details>
                    <summary>Oferiti și produse pentru apicultură?</summary>
                    <p>
                    Da, oferim și produse pentru apicultură, precum <b>stupi si rame</b>, pe care le puteți comanda ori ridica de la depozitul nostru din <strong>București</strong>, <em>Strada Academiei</em>.
                    </p>
                </details>

                <details>
                    <summary>Care sunt beneficiile consumului de miere?</summary>
                    <!--Cerinta 9-->
                    <q>
                   <strong>Mierea</strong> este singurul aliment care conține toate substanțele necesare vieții: еnzimе, vіtаmіne, mіnеrаle, apă și este singurul aliment care conține „ріnосеmbrіn”, un аntіохіdаnt аѕосіаt cu îmbunătățirea funcționarii creierului. 
                   Conținutul de microelemente al mierii este asemănător cu cel al sângelui uman: enzime, flavoane, flavonoide, vitaminele B1, B2, B6, B12, compuși aromatici, fitohormoni, acizi organici: lactic, citric, malic, oxalic, dextrină și compuși ai azotului însumând 435 de substanțe. 
                   Aceste proprietăți asigură mierii un loc aparte în reglarea funcțiilor organismului uman.
                    </q>
                    <!--Cerinta 13 a-->
                    <p>
                        Vezi detalii despre miere pe pagina:
                        <a href="https://honeycolonia.com/2021/09/01/informatii-despre-miere/?srsltid=AfmBOor5WuDQ_fmq5JKjoJqZ7yrSp9msh9-SwPO1saY8r2SUor2BZMf9">
                            https://honeycolonia.com/2021/09/01/informatii-despre-miere
                        </a>
                    </p>
                </details>
            </section>
            <!--Cerinta 15--> 
            <section id="tabelOrar">
                <h3>Orar</h3>
                <table class="Orar">
                    <caption>Program magazin</caption>
                    <thead>
                        <tr>
                            <th>Ziua</th>
                            <th>Ora deschiderii</th>
                            <th>Ora închiderii</th>
                            <th>Pauză de masă</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Luni</td>
                            <td>08:30</td>
                            <td>16:30</td>
                            <td>12:00 - 12:30</td>
                        </tr>
                        <tr>
                            <td>Marți</td>
                            <td>08:30</td>
                            <td>16:30</td>
                            <td>12:00 - 12:30</td>
                        </tr>
                        <tr>
                            <td>Miercuri</td>
                            <td>09:30</td>
                            <td>17:30</td>
                            <td>12:30 - 13:00</td>
                        </tr>
                        <tr>
                            <td>Joi</td>
                            <td>09:30</td>
                            <td>17:00</td>
                            <td>13:30 - 14:00</td>
                        </tr>
                        <tr>
                            <td>Vineri</td>
                            <td>07:00</td>
                            <td>15:00</td>
                            <td>12:00 - 12:30</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Magazinul este închis în perioada zilelor legale!</td>                        
                        </tr>
                    </tfoot>
                </table>
            </section>
    </main>
    <!--Cerinta 5-->
    <%- include("../fragmente/footer.ejs") %>
    
</body>

</html>