/* Stiluri pentru elementele media */
.DespreNoiPoza img{
    height: auto;
    width: 100%;
    margin-top: -2rem;
    object-fit: cover;
}
#CategoriiDeProduse h2+img{
    width: 50%;
    height: 50%;
}
#Evenimente img{
    width: 50%;
}
embed{
    width: 50%;
    align-items: center;
}
.container-iframe iframe{
    width: 100%;
    height: 100%;
}

#Adresa iframe{
    width: 30%;
    height: 100%;
}