<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../fragmente/head.ejs") %>
    <meta name="keywords" content="informatii, miere, stupi, albine, sanatate, naturale, stupina, sistemul imunitar.">
    <meta name="description" content="Magazinul de produse apicole pune la dispozitie miere si produse pentru cresterea albinelor cu optiunea de achizitie online si livrare prin curier.">
    <title>Magazin Produse Apicole</title>
</head>

<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        Alta informatie despre magazinul de produse apicole.
    </main>
    <!--Cerinta 5-->
    <%- include("../fragmente/footer.ejs") %>
    
</body>

</html>