 @media screen and (max-width:500px){
    .container-iframe iframe {
    width: 50%;
    height: 100%;
    /* resize: both; */
    }
    #DespreNoi img{
    height: auto;
    width: 100%;
    margin-top: -2rem;
}
}